---
import TopicLayout from '../../layouts/TopicLayout.astro';
---

<TopicLayout slug="beauty">
  <ul>
    <li>
      <b>Why do we want to be beautiful?</b> <br />I asked my sister the other day and
      she said becuase we want to be praised. It is true we desire beauty because we desire recogniton,
      praise, admiration, power. <br /><br />Think about it, if beauty did not get praise would we want it? Would
      we chase after it like we do if it was just a common utensil that passerbyers never stopped to admire? I don't
      think so. Praise is what we are after and it doesn't have to be spoken.
      We like it in the twinkle of an eye, or the manner in which we are treated, or even how we evaluate and
      praise ourselves as we look in the mirror. <br /><br />But, think on what the Ancient of Days says, He the
      Creator of beauty has written, <br /><span><b>"Charm is deceptive and beauty is fleeting. But the woman who
      fears the Lord is to be praised"</b></span><br />Proverbs 31:30<br /><br />
      God is not going to praise the charmer. He is not going to praise the beauty queen. He is going to
      praise the woman who fears Him. When all is said and done she is the one to be praised.
      <br /><br />
      <b>Whose praise are you going to chase?</b>
      <br />
      How can you believe since you accept glory from one another but do not seek the glory that comes from
      the only God ? - John 5:44
    </li>
    <li>
      <b>I noticed I've been believing a lie that says the degree of my beauty is the degree of my worth.</b><br />
      It's an easy one to believe considering we as people pay closer attention to the beautiful women's opinions
      rather than the opinions of plain faced Jane.
      We are more readily drawn to the Gal Gadots of this world than to the weak eyed Leahs, but its a lie all
      the same. So where does my worth lie if it's not in my apperance?
      <br />
      Check out our <a href="/topics/self-worth/">Self-Worth</a> topic to discover the truth.
    </li>
    <li>
      But the Lord said to Samuel, “Do not consider his appearance or his height, for I have rejected him.
      The Lord does not look at the things people look at. People look at the outward appearance, but the Lord
      looks at the heart.” - 1 Samuel 16:7
    </li>
  </ul>
  <p class="interlude">Speaking of Jesus:</p>
  <ul>
    <li>
      ...He had no beauty or majesty to attract us to him, nothing in his appearance that we should desire
      him. - Isaiah 53:2
    </li>
    <li>
      Your heart became proud on account of your beauty, and you corrupted your wisdom because of your
      splendor. So I threw you to the earth; I made a spectacle of you before kings. - Ezekiel 28:17
      <span class="meditation">
        <b>Meditation: Be careful that your beauty does not cause your heart to be proud. Watch out that your
        splendor does not corrupt your wisdom. The same God who made you beautiful in the eyes of all is quite
        capable of making you appaling in the eyes of all.</b>
      </span>
    </li>
    <li>
      Your beauty should not come from outward adornment, such as elaborate hairstyles and the wearing of
      gold jewelry or fine clothes. Rather, it should be that of your inner self, the unfading beauty of a
      gentle and quiet spirit, which is of great worth in God's sight. - 1 Peter 3:3-4
    </li>
    <li>
      Like a gold ring in a pig's snout is a beautiful woman who shows no discretion. - Proverbs 11:22
      <br />
      <i>Discretion: the quality of behaving or speaking in such a way as to avoid causing offense or
      revealing private information.</i>
      <br />
      <b>Meditation: What point is there in being beautiful if you aren't going to be discreet?</b>
    </li>
    <li>
      I also want the women to dress modestly, with decency and propriety, adorning themselves, not with
      elaborate hairstyles or gold or pearls or expensive clothes, but with good deeds, appropriate for women
      who profess to worship God. - 1 Timothy 2:9-10
    </li>
  </ul>
</TopicLayout>
