---
import TopicLayout from '../../layouts/TopicLayout.astro';
---

<TopicLayout slug="christ-in-self">
  <p class="lede">
    <b>Therefore, if anyone is in Christ, he is a new creation. The old has passed away; behold, the new has
    come. - 2 Corinthians 5:17</b>
  </p>
  <ul>
    <li>
      For our sake he made him to be sin who knew no sin, so that in him we might become the
      righteousness of God. - 2 Corinthians 5:21
    </li>
    <li>
      The true light, which gives light to everyone, was coming into the world. He was in the world,
      and the world was made through him, yet the world did not know him. He came to his own, and his
      own people did not receive him. But to all who did receive him, who believed in his name, he gave
      the right to become children of God, - John 1:9-12
    </li>
    <li>
      I have been crucified with Christ. It is no longer I who live, but Christ who lives in me.
      And the life I now live in the flesh I live by faith in the Son of God, who loved me and gave
      Himself for me. - Galatians 2:20
    </li>
    <li>
      We know that our old self was crucified with him in order that the body of sin might be brought
      to nothing, so that we would no longer be enslaved to sin. - Romans 6:6
    </li>
  </ul>
</TopicLayout>
