---
import TopicLayout from '../../layouts/TopicLayout.astro';
---

<TopicLayout slug="depression">
  <p class="lede">
    <b>What is it? you tell me? For "Each heart knows its own bitterness..." (Proverbs 14:10)</b>
  </p>
  <ul>
    <li>
      <b>"Why, my soul, are you downcast? Why so disturbed within me?..."- Psalms 42:5</b>
      <br />
      <b>Why are you depressed?</b>
      <br />
      Those who struggle with depression are those who have lost sight of all hope! But there is
      still hope, the rest of Psalms 42:5 offers the cure to depression.
      <br />
      <b>"...<mark>Put your hope in God</mark>, for I will yet praise him, my Savior and my God."</b>
    </li>
    <li>
      "Bitterly she weeps at night, tears are on her cheeks. Among all her lovers
      <b>there is no one to comfort her.</b> All her friends have betrayed her; they have become her
      enemies."- Lamentations 1:2
      <span class="meditation">
        <b>Meditation: Do you feel this way?</b> There is comfort to be found -
        "Praise be to the God and Father of our Lord Jesus Christ, the Father of compassion and the God of all
        comfort, who comforts us in all our troubles...".
      </span>
    </li>
    <li>
      <b>Why is light given to those in misery, and life to the bitter of soul</b>, to those who long for
      death that does not come, who search for it more than for hidden treasure, - Job 3:20-21
      <span class="meditation">
        <b>Meditation: Why? Why? Whyyyyy? Why are you alive if you don't want to be or find no pleasure in
        it?</b>
        <br />
        God knows. He has a plan in the pain. God wants people to seek Him and perhaps reach out for Him and
        find Him, though He's not far from any one of us. Sometimes pain is necessary for this process as many
        others testify -
      </span>
      <br />
      "You will observe that the desire to commune with God is intensified by the failure of all other
      sources of consolation." - Charles Spurgeon
      <br />
      <br />
      "Everyone has noticed how hard it is turn our thoughts to God when everything is going well with
      us...While what we call 'our own life' remains agreeable, we will not surrender it to Him. What then
      , can God do in our interests but make 'our own life' less agreeable to us, and take away the plausible
      sources of false happiness?." - CS lewis
      <br />
      <br />
      "My friends, nothing teaches us so much the preciousness of the Creator as when we learn the emptiness
      of all besides." - Charles Spurgeon
    </li>
    <li>
      'See, Lord , how distressed I am! I am in torment within, and in my heart I am disturbed, <mark>for I
      have been most rebellious.</mark> Outside, the sword bereaves; inside, there is only death. ' -
      Lamentations 1:20
      <br />
      <br />
      <mark>
        "Often depression of spirit and great misery of soul are removed as soon as we quit our idols and bow
        ourselves to obedience before the living God. We must do this with all our hearts and all our souls, and
        then our captivity will end" - Charles Spurgeon
      </mark>
      <br />
      <br />
      <b>
        'If only you had paid attention to my commands, your peace would have been like a river,
        your well-being like the waves of the sea. '
      </b> - Isaiah 48:18
      <span class="meditation">
        <b>Meditation</b> - What are the waves of the sea like?
        Constant and strong. When we pay attention to God's words instead of others or those of our own heart
        our well being will be like those waves - constant and strong.
      </span>
    </li>
    <li>
      Examples of despair turned to joy by hope placed in God🥳.
      <br />
      <a href="https://www.bible.com/bible/111/PSA.107.1-31" target="_blank" rel="noopener">Psalms 107:1-31🥳</a>
    </li>
    <li>
      <b>'I have been deprived of peace; I have forgotten what prosperity is</b>. So I say, “My splendor is
      gone and all that I had hoped from the Lord .” I remember my affliction and my wandering, the bitterness
      and the gall. I well remember them, and my soul is downcast within me. <b>Yet this I call to mind and
      therefore I have hope: Because of the Lord ’s great love we are not consumed, for his compassions never
      fail. They are new every morning; great is your faithfulness. </b>I say to myself, “The Lord is my
      portion; therefore I will wait for him.” The Lord is good to those whose hope is in him, to the one who
      seeks him; it is good to wait quietly for the salvation of the Lord . It is good for a man to bear the
      yoke while he is young. Let him sit alone in silence, for the Lord has laid it on him. Let him bury his
      face in the dust— <b>there may yet be hope.</b> Let him offer his cheek to one who would strike him, and
      let him be filled with disgrace. For no one is cast off by the Lord forever. Though he brings grief, he
      will show compassion, so great is his unfailing love. ' - Lamentations 3:17-32
    </li>
    <li>
      'Turn to me and be gracious to me, for I am lonely and afflicted. Relieve the troubles of my heart and
      free me from my anguish. Look on my affliction and my distress and take away all my sins. ' - Psalms
      25:16-18
      <span class="meditation">
        <b>Meditation</b> - An ancient king of Israel wrote this from his heart about 3000 years ago. If you
        relate with this expression. I challenge you to pray his words to the same God, Jesus Christ, and
        experience for yourself the deliverance that this king later recorded:
      </span>
      <br />
      <mark>
        'I sought the Lord , and he answered me; he delivered me from all my fears. Those who look to him are
        radiant; their faces are never covered with shame. This poor man called, and the Lord heard him; he
        saved him out of all his troubles. The angel of the Lord encamps around those who fear him, and he
        delivers them. Taste and see that the Lord is good; blessed is the one who takes refuge in him. ' -
        Psalms 34:4-8
      </mark>
    </li>
  </ul>
</TopicLayout>
