---
import TopicLayout from '../../layouts/TopicLayout.astro';
---

<TopicLayout slug="faith">
  <p class="lede">
    <b>Now faith is confidence in what we hope for and assurance about what we do not see. (Hebrews 11:1)</b>
  </p>
  <ul>
    <li>
      "Do you believe because you can see? That is not believing at all. Do you believe because you can feel?
      That is feeling, it is not believing. But "Blessed are they that have not seen and yet have believed"
      (John 20:29). Blessed is he who believes against his feelings, yes, and hopes against hope, to believe
      in things that are impossible, to see things that are invisible." - Charles Spurgeon
    </li>
    <li>
      And without faith it is impossible to please him, for whoever would draw near to God must believe that
      he exists and that he rewards those who seek him. - Hebrews 11:6
    </li>
    <li>
      For by grace you have been saved through faith. And this is not your own doing; it is the gift of God,
      not a result of works, so that no one may boast. - Ephesians 2:8-9
    </li>
    <li>
      Ask, and it will be given to you; seek, and you will find; knock, and it will be opened to you. -
      Matthew 7:7
    </li>
    <li>
      For I am not ashamed of the gospel, because it is the power of God that brings salvation to everyone
      who believes: first to the Jew, then to the Gentile. For in the gospel the righteousness of God is
      revealed—a righteousness that is by faith from first to last, just as it is written: “The righteous will
      live by faith. - Romans 1:16-17
    </li>
  </ul>
</TopicLayout>
