---
import TopicLayout from '../../layouts/TopicLayout.astro';
---

<TopicLayout slug="gentleness">
  <p class="lede">
    <b>A strong hand with a soft touch.</b>
  </p>
  <ul>
    <li>
      Through patience a ruler can be persuaded, and a gentle tongue can break a bone. - Proverbs 25:15
    </li>
    <li>
      “Come to me, all you who are weary and burdened, and I will give you rest. Take my yoke upon you and
      learn from me, for I am gentle and humble in heart, and you will find rest for your souls. For my
      yoke is easy and my burden is light.” - Jesus Christ (Matthew 11:28-30)
    </li>
    <li>
      Say to Daughter Zion, ‘See, your king comes to you, gentle and riding on a donkey, and on a colt, the
      foal of a donkey.’ - Matthew 21:5
    </li>
    <li>
      A gentle answer turns away wrath, but a harsh word stirs up anger. -
      <a href="https://www.bible.com/bible/111/1KI.19.1-18" target="_blank" rel="noopener">Proverbs 15:1</a>
    </li>
    <li>
      Remind them to be submissive to rulers and authorities, to be obedient, to be ready for every good work,
      to speak evil of no one, to avoid quarreling, to be gentle, and to show perfect courtesy toward all
      people. For we ourselves were once foolish, disobedient, led astray, slaves to various passions and
      pleasures, passing our days in malice and envy, hated by others and hating one another. But when the
      goodness and loving kindness of God our Savior appeared, he saved us, not because of works done by us in
      righteousness, but according to his own mercy, by the washing of regeneration and renewal of the Holy
      Spirit, whom he poured out on us richly through Jesus Christ our Savior, so that being justified by his
      grace we might become heirs according to the hope of eternal life. - Titus 3:1-7
    </li>
    <li>
      Be completely humble and gentle; be patient, bearing with one another in love. - Ephesians 4:2
    </li>
    <li>
      Let your gentleness be evident to all. The Lord is near. - Philippians 4:5
    </li>
    <li>
      Rather, it should be that of your inner self, the unfading beauty of a gentle and quiet spirit, which
      is of great worth in God's sight. - 1 Peter 3:4
    </li>
    <li>
      Opponents must be gently instructed, in the hope that God will grant them repentance leading them to a
      knowledge of the truth, and that they will come to their senses and escape from the trap of the devil,
      who has taken them captive to do his will.. - 2 Timothy 2:25-26
    </li>
  </ul>
</TopicLayout>
