---
import TopicLayout from '../../layouts/TopicLayout.astro';
---

<TopicLayout slug="gospel">
  <p class="lede">
    The Gospel means good news, but in order to understand this good news, we speak of, we must first come to
    know the bad news that currently is.
  </p>
  <p>
    <b>The bad news that is:</b>
    You're as bad as bad can be. Period.
    <br />
    You may not know it, there's no way of you fixing it, no reason to deny it, and only one eternal outcome
    because of it - Hell.
  </p>
  <p>
    <b>The Good News:</b>
    There is a good God who became a good man in order to empathize with the weakness of bad men, to die in a
    bad man's way, to go to hell and suffer a bad man's penalty, and to be rasied to life, to bring new life,
    eternal life to bad men who believe that He has indeed done it.
  </p>
  <p>
    True faith in all this will transform the bad man into the image of the good man, which obviously was a part
    of the good God's plan all along.
  </p>
  <p><b>Do you believe it?</b></p>
  <ul>
    <li>'For the wages of sin is death, but the gift of God is eternal life in Christ Jesus our Lord.' - Romans 6:23</li>
    <li>
      'For even the Son of Man did not come to be served, but to serve, and to give his life as a ransom for
      many.” ' - Mark 10:45
    </li>
    <li>
      'For God so loved the world that he gave his one and only Son, that whoever believes in him shall not
      perish but have eternal life. ' - John 3:16
    </li>
    <li>
      'For you know the grace of our Lord Jesus Christ, that though he was rich, yet for your sake he became
      poor, so that you through his poverty might become rich. ' - 2 Corinthians 8:9
    </li>
    <li>
      'Here is a trustworthy saying that deserves full acceptance: Christ Jesus came into the world to save
      sinners—of whom I am the worst. ' - 1 Timothy 1:15
    </li>
    <li>
      'If anyone acknowledges that Jesus is the Son of God, God lives in them and they in God. ' - 1 John 4:15
    </li>
    <li>
      'For those God foreknew he also predestined to be conformed to the image of his Son, that he might be
      the firstborn among many brothers and sisters. ' - Romans 8:29
    </li>
    <li>
      'And just as we have borne the image of the earthly man, so shall we bear the image of the heavenly man.
      '- 1 Corinthians 15:49
    </li>
    <li>
      'If you declare with your mouth, “Jesus is Lord,” and believe in your heart that God raised him from the
      dead, you will be saved. For it is with your heart that you believe and are justified, and it is with
      your mouth that you profess your faith and are saved. As Scripture says, “Anyone who believes in him
      will never be put to shame.” For there is no difference between Jew and Gentile—the same Lord is Lord of
      all and richly blesses all who call on him, for, “Everyone who calls on the name of the Lord will be
      saved.” ' - Romans 10:9-13
    </li>
    <li>
      'Since the children have flesh and blood, he too shared in their humanity so that by his death he might
      break the power of him who holds the power of death—that is, the devil— and free those who all their
      lives were held in slavery by their fear of death. ' - Hebrews 2:14-15
    </li>
    <li>
      'He then brought them out and asked, “Sirs, what must I do to be saved?” They replied, “Believe in the
      Lord Jesus, and you will be saved—you and your household.”' - Acts 16:30-31
    </li>
    <li>
      '“He himself bore our sins” in his body on the cross, so that we might die to sins and live for
      righteousness; “by his wounds you have been healed.” For “you were like sheep going astray,” but now you
      have returned to the Shepherd and Overseer of your souls.' - 1 Peter 2:24-25
    </li>
    <li>
      We implore you on Christ’s behalf: Be reconciled to God. God made him who had no sin to be sin for us,
      so that in him we might become the righteousness of God.' - 2 Corinthians 5:21
    </li>
  </ul>
</TopicLayout>
