---
import TopicLayout from '../../layouts/TopicLayout.astro';
---

<TopicLayout slug="heaven">
  <p class="bubble">
    <b>"There is a river whose streams make glad the city of God, the holy place where the Most High dwells."
    - Psalms 46:4</b>
  </p>

  <p class="warning-box">
    <span class="warning-icon">⚠️</span>
    <span class="warning-text">
      <b>
        Before you move on to read about the beauty, healing and glories of heaven, you must understand that
        heaven <u>is not</u> for <u>everyone</u>. If you have not rsvped to the invitation God has proclaimed
        don't expect a place to be reserved for you.
        <br /><br />
        If you have not received an invitation yet or would like to be informed on how to rsvp
        <a href="/topics/invitation/">Click Here</a>
      </b>
    </span>
    <span class="warning-icon">⚠️</span>
  </p>

  <div class="bubble2">
    <p><b>Heaven:</b></p>
    <p>
      A Christian's eternal home with Christ. To a Christian who truly knows their King,
      nothing could sound more sweet.
    </p>
    <br />
    <p>
      "Lord, you alone are my portion and my cup; you make my lot secure. The boundary
      lines have fallen for me in pleasant places; surely I have a delightful inheritance.
      You make known to me the path of life; you will fill me with joy in your presence,
      with eternal pleasures at your right hand." - Psalms 16:5-6,11
    </p>
  </div>

  <h2>First and Foremost</h2>
  <p>
    " Whom have I in heaven but you?..." - Psalms 73:25 <br /> <br />
    If God wasn't in heaven, would you want to be there? Be honest! If we saw clearly heaven would have nothing
    for us without our Lord. He is the One who completes us and fulfills us. <br />
    Without Jesus, Heaven would only be a lovely place without the Lover. And what, I ask you, is a honeymoon
    without the groom?
    <br />This is how it should be for us. What does heaven have for us if it does not have Him?
    <br />
    Consider this John Piper quote: "People who would be happy in heaven if Christ were not there, will not be
    there. The gospel is not a way to get people to heaven; it is way to people to God."
  </p>
</TopicLayout>
