---
import TopicLayout from '../../layouts/TopicLayout.astro';
---

<TopicLayout slug="hell">
  <p class="bubble2">
    <b>"A picture is worth a thousand words"</b>
    <br /><br />
    And yet the one above still manages to fall short of the gravity of the eternal agony of damnation.
  </p>

  <p class="lede">
    <b>Take a closer look at our topic, but by all means avoid it being your destiny.</b>
  </p>

  <ul>
    <li><b>John 3:16</b></li>
  </ul>

  <p>
    This verse speaks of love and hope for humanity, but it also reveals the reason for the dire need of love
    and hope for humanity.
  </p>
  <p>
    The verse implies that whoever does not believe in Jesus Christ, the Son of God, will perish and have
    eternal death.
  </p>
  <p class="interlude">
    The implication is true.<br />
    The reality horrifying.
  </p>
  <p>The infamous name for this horrifying reality, this "living" eternal death is Hell.</p>

  <h2>DO YOU QUALIFY FOR HELL?</h2>

  <ul>
    <li><b>2 Thessalonians 2:10</b></li>
  </ul>

  <p>If you refuse to love the truth you qualify for hell. Jesus is the Truth(John 14:6)</p>
  <p>
    Wickedness is deceitful.<br />
    That lust, that greed, that pride, that temporary pleasure, it's deceiving you; like the Pied Piper with
    his merry tune, it's luring you to destruction.
  </p>

  <p class="interlude">
    "The safest road to Hell is the graduation one - the gentle slope, soft underfoot, without sudden
    turnings, without milestones, without sign posts." C.S. Lewis
  </p>

  <ul>
    <li><b>Hebrews 10:26,27</b></li>
    <li><b>Matthew 13:40-42</b></li>
    <li><b>Jesus says this of Hell: Mark 9:48</b></li>
    <li><b>Psalms 11:6,7</b></li>
  </ul>

  <p class="interlude">
    To be a resident of Hell: is to be "utterly alone, in the darkness without a single comfort or
    consolation, nothing good, without hope for all eternity."<br />
    - Kaylene R
  </p>

  <ul>
    <li><b>2 Thessalonians 1:8,9</b></li>
    <li><b>Matthew 10:28</b></li>
    <li><b>Isaiah 14:9-11</b></li>
    <li><b>2 Peter 3:7</b></li>
    <li><b>Revelation 14:10,11</b></li>
    <li><b>Matthew 25:41,46</b></li>
  </ul>

  <h2>WHO DESERVES SUCH A SEVERE JUDGMENT?</h2>

  <p class="lede"><b>You. I. Everyone.</b></p>
  <p>
    If you don't agree with this being a justified condemnation, you are not aware of the height of the
    purity of God, nor the depth of your own depravity.
  </p>
  <p>We are in the realm of humans.</p>
  <p>God is in the realm of God.</p>
  <p>What would make us think that we are even capable of earning a spot in His Presence?</p>

  <p class="interlude">
    "Morality may keep you out of jail, but it takes the blood of Jesus to keep you out of hell."<br />
    - Charles Spurgeon
  </p>

  <ul>
    <li><b>Matthew 16:24-26</b></li>
  </ul>
</TopicLayout>
