---
import TopicLayout from '../../layouts/TopicLayout.astro';
---

<TopicLayout slug="hell">
  <p class="bubble2">
    <b>"A picture is worth a thousand words"</b>
    <br /><br />
    And yet the one above still manages to fall short of the gravity of the eternal agony of damnation.
  </p>
</TopicLayout>
