---
import TopicLayout from '../../layouts/TopicLayout.astro';
---

<TopicLayout slug="joy">
  <p class="interlude">Joy &gt; Happiness</p>
  <p class="lede">
    <b>A feeling of great pleasure and happiness.</b>
  </p>
  <ul>
    <li>
      ...do not grieve, for the joy of the Lord is your strength. - Nehemiah 8:10
      <span class="meditation">Meditation: Without the joy of the Lord, what strength do you have?</span>
    </li>
    <li>
      I have told you this so that my joy may be in you and that your joy may be <b>complete</b>. - John 15:11
    </li>
    <li>
      So with you: Now is your time of grief, but I will see you again and you will rejoice, and no one will
      take away your joy. - John 16:22
    </li>
    <li>
      You make known to me the path of life; you will fill me with joy in your presence, with eternal
      pleasures at your right hand. - Psalms 16:11
      <span class="meditation">Meditation: Joy is found in the presence of Jesus</span>
    </li>
  </ul>
</TopicLayout>
