---
import TopicLayout from '../../layouts/TopicLayout.astro';
---

<TopicLayout slug="kindness">
  <ul>
    <li>
      The Lord appeared to us in the past, saying: “I have loved you with an everlasting love; I have drawn
      you with unfailing kindness. - Jeremiah 31:3
    </li>
    <li>
      At one time we too were foolish, disobedient, deceived and enslaved by all kinds of passions and
      pleasures. We lived in malice and envy, being hated and hating one another. But when the kindness and
      love of God our Savior appeared, he saved us, not because of righteous things we had done, but because
      of his mercy. He saved us through the washing of rebirth and renewal by the Holy Spirit, - Titus 3:3-5
    </li>
    <li>
      if my people who are called by my name humble themselves, and pray and seek my face and turn from their
      wicked ways, then I will hear from heaven and will forgive their sin and heal their land. - 2 Chronicles 7:14
    </li>
    <li>
      in order that in the coming ages he might show the incomparable riches of his grace, expressed in his
      kindness to us in Christ Jesus. - Ephesians 2:7
    </li>
    <li>
      I led them with cords of human kindness, with ties of love. To them I was like one who lifts a little
      child to the cheek, and I bent down to feed them. - Hosea 11:4
    </li>
  </ul>
</TopicLayout>
