---
import TopicLayout from '../../layouts/TopicLayout.astro';
---

<TopicLayout slug="self-control">
  <p class="lede">
    <b>The ability to control oneself in particular one's emotions and desires or the expression of them in
    one's behavior, especially in difficult situations.</b>
  </p>
  <ul>
    <li>
      A man without self-control is like a city broken into and left without walls.'- Proverbs 25:28
      <span class="meditation">
        Meditation: A person without self control is susceptible to invasion. You are defenseless
        against your evil passions. Are you in need of this quality? Ask the
        <a href="/topics/god/">Holy Spirit</a> for it, it is one of His fruits and He gives to all without
        finding fault (James 1:5).
      </span>
    </li>
    <li>
      for God gave us a pirit not of fear but of power and love and self-control. - 2 Timothy 1:7
    </li>
    <li>
      But understand this, that in the last days there will come times of difficulty. For people will be
      lovers of self, lovers of money, proud, arrogant, abusive, disobedient to their parents, ungrateful,
      unholy, heartless, unappeasable, slanderous, without self-control, brutal, not loving good, treacherous,
      reckless, swollen with conceit, lovers of pleasure rather than lovers of God, having the appearance of
      godliness, but denying its power. Avoid such people. - 2 Timothy 3:1-5
    </li>
    <li>
      Several days later Felix came with his wife Drusilla, who was Jewish. He sent for Paul and listened to
      him as he spoke about faith in Christ Jesus. As Paul talked about righteousness, self-control and the
      judgment to come, Felix was afraid and said, “That’s enough for now! You may leave. When I find it
      convenient, I will send for you.” - Acts 24:24-25
      <span class="meditation">
        Meditation: Do these subjects unsettle you? Do not be like Felix
        a more convenient time may never be given you. "For death is the destiny of everyone: the living
        should take this to heart - Eccl 7:2". You don't have be uneasy or fearful concerning these topics,
        Christ offers self control, peace, and confidence. Find rest in Him.
      </span>
    </li>
    <li>
      He dies for lack of discipline, and because of his great folly he is led astray. - Proverbs 5:23
    </li>
    <li>
      For this very reason, make every effort to add to your faith goodness; and to goodness, knowledge; and
      to knowledge, self-control; and to self-control, perseverance; and to perseverance, godliness; and to
      godliness, mutual affection; and to mutual affection, love. For if you possess these qualities in
      increasing measure, they will keep you from being ineffective and unproductive in your knowledge of our
      Lord Jesus Christ. But whoever does not have them is nearsighted and blind, forgetting that they have
      been cleansed from their past sins. - 2 Peter 1:5-9
    </li>
  </ul>
</TopicLayout>
