---
import TopicLayout from '../../layouts/TopicLayout.astro';
---

<TopicLayout slug="sexuality">
  <p class="lede">
    Sexuality, ahh it seems to be a hot topic these days. In a world full of thousands of differing opinions,
    God makes clear His own. And you know what, they didn't match mine and they probably won't match yours. But
    the Creator of it has the right to say what it is and what it is not; how to use it and how not to. Keep
    reading to get His opinion.
  </p>
  <ul>
    <li>'What a person desires is unfailing love; better to be poor than a liar. ' - Proverbs 19:22</li>
  </ul>
  <p>
    There is a strong misconception in sex, so many seem to seek love in it as if it were love. But sex is not
    love nor is love sex. Sex can be a result of love but it can just as easily be a result of hate-rape for
    instance. (Poor Anita in West Side Story)
  </p>
  <p>
    We need to stop looking for love in sex and look for love in Love.
  </p>
  <p>
    "...God is love" - 1 John 4:8
  </p>
  <p>
    He is the only place you shall ever find it.
  </p>
  <ul>
    <li>
      "I belong to my beloved, and his desire is for me. 11 Come, my beloved, let us go to the countryside,
      let us spend the night in the villages. Let us go early to the vineyards to see if the vines have
      budded,if their blossoms have opened, and if the pomegranates are in bloom— there I will give you, my
      love." - Song of Songs 7:10-12
    </li>
    <li>
      For he knows our frame; he remembers that we are dust. As for man, his days are like grass; he
      flourishes like a flower of the field; for the wind passes over it, and it is gone, and its place knows
      it no more. - Psalm 103:14-16
    </li>
    <li>
      “I have the right to do anything,”—but not everything is beneficial. “I have the right to do
      anything”—but I will not be mastered by anything. “Food for the stomach and the stomach for food, and
      God will destroy them both.” The body, however, is not meant for sexual immorality but for the Lord, and
      the Lord for the body." - 1 Corinthians 6:12,13
    </li>
    <li>
      If a man has sexual relations with a man as one does with a woman, both of them have done what is
      detestable. They are to be put to death; their blood will be on their own heads. - Leviticus 20:13
    </li>
    <li>
      If a man commits adultery with another man’s wife—with the wife of his neighbor—both the adulterer and
      the adulteress are to be put to death. - Leviticus 20:10
    </li>
    <li>
      Anyone who has sexual relations with an animal is to be put to death. - Exodus 22:19
    </li>
    <li>
      They exchanged the truth about God for a lie, and worshiped and served created things rather than the
      Creator—who is forever praised. Amen.
      Because of this, God gave them over to shameful lusts. Even their women exchanged natural sexual
      relations for unnatural ones. 27 In the same way the men also abandoned natural relations with women and
      were inflamed with lust for one another. Men committed shameful acts with other men, and received in
      themselves the due penalty for their error. - Romans 1:15-27
    </li>
    <li>
      but Jesus went to the Mount of Olives.
      At dawn he appeared again in the temple courts, where all the people gathered around him, and he sat
      down to teach them. The teachers of the law and the Pharisees brought in a woman caught in adultery.
      They made her stand before the group and said to Jesus, “Teacher, this woman was caught in the act of
      adultery. In the Law Moses commanded us to stone such women. Now what do you say?” They were using
      this question as a trap, in order to have a basis for accusing him.
      <br />
      But Jesus bent down and started to write on the ground with his finger. When they kept on questioning
      him, he straightened up and said to them, “Let any one of you who is without sin be the first to throw a
      stone at her.” Again he stooped down and wrote on the ground.
      <br />
      At this, those who heard began to go away one at a time, the older ones first, until only Jesus was
      left, with the woman still standing there. Jesus straightened up and asked her, “Woman, where are
      they? Has no one condemned you?”
      <br />
      “No one, sir,” she said.
      <br />
      “Then neither do I condemn you,” Jesus declared. “Go now and leave your life of sin.” - John 8:1-11
    </li>
    <li>
      Woe to those who call evil good and good evil, who put darkness for light and light for darkness, who
      put bitter for sweet and sweet for bitter. - Isaiah 5:20
    </li>
  </ul>
</TopicLayout>
