---
import TopicLayout from '../../layouts/TopicLayout.astro';
---

<TopicLayout slug="wisdom">
  <p class="lede">
    <b>The knowledge of what is true or right coupled with just judgment as to action.</b>
  </p>
  <ul>
    <li>
      The way of a fool is right in his own eyes, but a wise man listens to advice. - Proverbs 12:15
    </li>
    <li>
      Whoever walks with the wise becomes wise, but the companion of fools will suffer harm. - Proverbs 13:20
    </li>
    <li>
      The fear of the LORD is the beginning of wisdom and knowledge of the Holy One is undestanding - Proverbs 9:10
    </li>
    <li>
      If any of you lacks wisdom, let him ask God, who gives generously to all without reproach, and it will
      be given him. - James 1:5
    </li>
    <li>
      For the Lord gives wisdom; from his mouth come knowledge and understanding; - Proverbs 2:6
    </li>
    <li>
      Who is wise and understanding among you? Let them show it by their good life, by deeds done in the
      humility that comes from wisdom. But if you harbor bitter envy and selfish ambition in your hearts, do
      not boast about it or deny the truth. Such “wisdom” does not come down from heaven but is earthly,
      unspiritual, demonic. For where you have envy and selfish ambition, there you find disorder and every
      evil practice. <b>But the wisdom that comes from heaven is first of all pure; then peace-loving,
      considerate, submissive, full of mercy and good fruit, impartial and sincere.</b> - James 3:13-17
    </li>
    <li>
      But where shall wisdom be found? And where is the place of understanding? <b>Man does not know its
      worth</b>, and it is not found in the land of the living. The deep says, ‘It is not in me,’ and the sea
      says, ‘It is not with me.’ It cannot be bought for gold, and silver cannot be weighed as its price. It
      cannot be valued in the gold of Ophir, in precious onyx or sapphire. Gold and glass cannot equal it, nor
      can it be exchanged for jewels of fine gold. No mention shall be made of coral or of crystal; the price
      of wisdom is above pearls. The topaz of Ethiopia cannot equal it, nor can it be valued in pure gold.
      “From where, then, does wisdom come? And where is the place of understanding? It is hidden from the eyes
      of all living and concealed from the birds of the air. Abaddon and Death say, ‘We have heard a rumor of
      it with our ears.’ <b>“God understands the way to it, and he knows its place.</b> For he looks to the
      ends of the earth and sees everything under the heavens. When he gave to the wind its weight and
      apportioned the waters by measure, when he made a decree for the rain and a way for the lightning of the
      thunder, then he saw it and declared it; he established it, and searched it out. And he said to man,
      <b>‘Behold, the fear of the Lord, that is wisdom, and to turn away from evil is understanding.’</b> -
      Job 28:12-28
    </li>
    <li>
      For the message of the cross is foolishness to those who are perishing, but to us who are being saved
      it is the power of God. For it is written: “I will destroy the wisdom of the wise; the intelligence of
      the intelligent I will frustrate.” Where is the wise person? Where is the teacher of the law? Where is
      the philosopher of this age? Has not God made foolish the wisdom of the world? For since in the wisdom
      of God the world through its wisdom did not know him, God was pleased through the foolishness of what
      was preached to save those who believe. Jews demand signs and Greeks look for wisdom, but we preach
      Christ crucified: a stumbling block to Jews and foolishness to Gentiles, but to those whom God has
      called, both Jews and Greeks, Christ the power of God and the wisdom of God. <b>For the foolishness of
      God is wiser than human wisdom, and the weakness of God is stronger than human strength.</b> Brothers
      and sisters, think of what you were when you were called. Not many of you were wise by human standards;
      not many were influential; not many were of noble birth. <b>But God chose the foolish things of the
      world to shame the wise; God chose the weak things of the world to shame the strong.</b> God chose the
      lowly things of this world and the despised things—and the things that are not—to nullify the things
      that are, 'so that no one may boast before him. It is because of him that you are in Christ Jesus, who
      has become for us wisdom from God—that is, our righteousness, holiness and redemption. Therefore, as it
      is written: “Let the one who boasts boast in the Lord. - 1 Corinthians 1:18-31
    </li>
  </ul>
</TopicLayout>
